body
{
  font-family:'Times New Roman',Georgia,serif;
  color:#255688;
  background-color:#F0EFE8;
  font-size:17px;
  line-height:24px
}

a
{
  text-decoration:none;
  color:#255688
}

a:hover
{
  border-bottom:1px solid #255688
}

#venues
{
  display:block;
  padding:0 20px;
  margin:70px auto;
  width:90%;
  max-width:500px
}

h2
{
  font-family:Helvetica;
  letter-spacing:2px;
  text-transform:uppercase;
  border-bottom:1px solid #255688;
  font-weight:400;
  padding:5px 0 15px 15px;
  font-size:25px;
  margin:0
}

h2 a
{
  display:block;
  text-decoration:none
}

h2 a:hover
{
  border-bottom:0
}

h2 a span
{
  display:none
}

h2 a:hover span
{
  display:inline-block
}

.main_venue
{
  padding-left:14px 0;
  border-left:1px solid #255688;
  margin:100px 0
}

.main_venue p
{
  font-size:20px;
  line-height:25px;
  padding-left:15px;
  margin:15px 0
}

.meta
{
  border-top:1px solid #255688;
  font-family:Helvetica;
  letter-spacing:.5px;
  font-size:10px;
  line-height:10px
}

.meta .divide
{
  padding:5px 10px;
  border-right:1px solid #255688;
  border-bottom:1px solid #255688;
  display:inline-block
}

#footer
{
  display:block;
  padding:0 20px;
  margin:50px auto;
  width:90%;
  max-width:500px
}
